body{
      background-image: url("../pics/background.jpg");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-color: grey;
      font-family: 'Roboto Condensed', sans-serif;
      color: white;
    }
	
h1{
	font-size: 85px;
}

h2{
	font-size: 40px;
}

p{
	font-size: 25px;
}

a{
	color: white;
}

.spacer{
	min-height: 80px;
}

.projectImg{
	height: 300px;
}