body{
      
      
      background-image: url("../pics/background.jpg");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-color: grey;
      
      color: white;
      font-family: 'Roboto Condensed', sans-serif;
    }

h1{
	font-size: 5em;
}

h2{
	font-size: 2.5em;
}

p{
	font-size: 1.25em;
}

a{
	color: #cccccc;
}

a:link a:visited{
      color: #cccccc;
      
}

a:hover{
      font-size: 105%;
      color: #ffffff;
      text-decoration: none;
}

img{
      opacity: 0.9;
}

img:hover{
      opacity: 1;
}

.jumbotron{
      background-color: transparent;
}

.row{
      margin: 5%;
      text-align: center;
}
